{% extends'@Forum/Default/index.html.twig' %}
{% block containt %}
<table>
    <tr>
<td>
        <fieldset >
        {{ form_start(f) }}

        {{ form_label(f.contenu,'Insrer Votre Commantaire') }}
        {{ form_errors(f.contenu) }}
        {{ form_widget(f.contenu) }}

        {{ form_end(f) }}
        </fieldset>

</td>
    </tr>
</table>
{% endblock %}