{% extends 'layoutback.html.twig' %}

{% block body %}




    <div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue">   La liste des categories </h3>

            <div class="clearfix">
                <div class="pull-right tableTools-container"></div>
            </div>



            <div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover" style="margin-left: 200px;">
                    <thead>
                    <tr>

                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for categorieProduit in categorieProduits %}
                    <tr>


                        <td>
                            {{ categorieProduit.nom }}
                        </td>





                        <td>
                            <div class="hidden-sm hidden-xs action-buttons">
                                <a class="blue" href="{{ path('categorieproduit_index', { 'id': categorieProduit.id }) }}">
                                    <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                </a>

                                <a class="green" href="{{ path('categorieproduit_edit', { 'id': categorieProduit.id }) }}">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>

                                <a class="red" href="{{ path('categorieproduit_delete', { 'id': categorieProduit.id }) }}">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </a>
                            </div>


                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <ul>
        <li>
            <a href="{{ path('categorieproduit_new') }}"><input type="submit" value="Creer une nouvelle categorie" style="margin-left: 200px;" />
        </li>
    </ul>













{% endblock %}
